* {
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixed-container {
  width: 80%;
  border: solid 1px black;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.moving-container {
  padding: 10px;
  /* Make the whole container fits all children boxes with inline outer display */
  display: inline-grid;
  /* Alternative:
  width: -moz-fit-content;
  width: fit-content; */
  gap: 10px;
  grid-auto-flow: column;
  justify-content: center;
  border: solid 1px red;

  animation: move 8s infinite paused;
}

.moving-container:hover {
  animation-play-state: running;
}

@keyframes move {
  from {
    transform: none;
    animation-timing-function: ease-out;
  }
  25% {
    transform: translate(calc(-30%));
    animation-timing-function: ease-in;
  }
  50% {
    transform: none;
    animation-timing-function: ease-out;
  }
  75% {
    transform: translate(calc(30%));
    animation-timing-function: ease-in;
  }
  to {
    transform: none;
  }
}

.box {
  height: 200px;
  width: 200px;
  border: solid 2px blue;
}
